<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1 align="center">Enter your username and password:</h1>
<div align="center">
    <form action="#" th:action="@{/login}" method="post" th:object="${user}" th:align="center">
        <input placeholder="username" th:field="*{username}"/>
        <br>
        <input placeholder="password" th:field="*{password}"/>
        <br>
        <input type="submit"value="login">

    </form>
</div>
</body>
</html>